<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8" />
    <title>后台登录界面</title>
    <link rel="stylesheet" type="text/css" href="static/css/Login.css"/>
</head>

<body>
    <div class="login-div">
        <div class="form-title">登录</div>
        <form action="" id="login-form">
            <label>用户名</label>
            <div class="input-div">
                <label for="carpoolername-input"></label>
                <input type="text" id="carpoolername-input" required />
            </div>

            <label>密码</label><br>
            <div class="input-div">
                <label for="password"></label>
                <input type="password" id="password" required autocomplete="off" />

            </div>
           <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>