{% extends 'admin/base.html' %}
{% block title %}
    在线博客平台.博客
{% endblock %}

{% block css %}

    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/blogAll.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">

    <script src="/static/layui/layui.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

{% endblock %}

{% block content %}
<div class="main">
    <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
            <tr>
              <th>ID</th>
              <th>标题</th>
              <th>发布时间</th>

            </tr>
        </thead>

        <tbody>

            {% for post in post_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.create_time }}</td>
                <td>
                    <div class="tags">
                        <a href="/showBlog/{{ post.id }}" class="tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                            浏览
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>


<nav class="pagination is-small" role="navigation" aria-label="pagination">
    <!--
    {% if pagination.has_prev %}
    <a href="{{ url_for('home_blue.blogAll') }}?page={{ pagination.prev_num }}" class="pagination-previous" title="This is the first page">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
    <a href="{{ url_for('home_blue.blogAll') }}?page={{ pagination.next_num }}" class="pagination-next">Next page</a>
    {% endif %}
    -->
    <ul class="pagination-list">
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for('home_blue.blogAll') }}?page={{ page }}" class="pagination-link" aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% endif %}
            {% else %}
                <span class=pagination-ellipsis>&hellip;</span>
            {% endif %}
        {% endfor %}

    </ul>
</nav>
</div>
{% endblock  %}