{% extends 'base.html' %}
{% block content %}
    <div class="admin-content-body">
        <div class="page-header">
            <ol class="am-breadcrumb am-breadcrumb-slash">
                <li><a href="/admin">首页</a></li>
                <li>项目类型</li>
            </ol>
        </div>

        <div class="page-body">
            <div class="am-g">
                <div class="am-u-sm-12">
                    <div class="am-btn-toolbar">
                        <div class="">
                            <button type="button" onclick="location.href=''"
                                    class="am-btn am-btn-primary"><span class="am-icon-plus"></span>
                                新增
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-g am-g-collapse">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th>
                                <th class="table-title">类型</th>
                                <th class="table-type">缩略图</th>
                                <th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>1</td>
                                <td><a href="javascript:;">商业项目</a></td>
                                <td>
                                    <img src="https://image.holyzq.com/vsIuc6EIM3DVN3EMgBOkbRffQmOnVCNHP9CUVQ0t.jpeg" alt="" class="thumb">
                                </td>
                                <td>
                                    <a href="http://www.techbimu.com/admin/types/1/edit">编辑</a>
                                    <div class="divider divider-vertical"></div>
                                    <a href="http://www.techbimu.com/admin/types/1" data-method="delete"
                                       data-token="mVTO1xskhIspfdKGM3KGpQPuSrEQqgPN6xuuZzYa"
                                       data-confirm="是否确定要删除?">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="javascript:;">办公项目</a></td>
                                <td>
                                    <img src="https://image.holyzq.com/2to8Zf0vnyJMbMORfFKpnigTMCg3jRCuNTx5WV6E.jpeg"
                                         alt=""
                                         class="thumb">
                                </td>
                                <td>
                                    <a href="http://www.techbimu.com/admin/types/2/edit">编辑</a>
                                    <div class="divider divider-vertical"></div>
                                    <a href="http://www.techbimu.com/admin/types/2" data-method="delete"
                                       data-token="mVTO1xskhIspfdKGM3KGpQPuSrEQqgPN6xuuZzYa"
                                       data-confirm="是否确定要删除?">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
